html {
    font-size: 100px;
}

body {
    background-color: #f5f5f5;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    font-size: 0.14rem;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}

.app-wrap {
    width: 100%;
    height: 100%;
}

.app-container {
    width: 100%;
    height: calc(100% - 1.05rem);
}

.pdt {
    padding-top: 0.8rem;
}

/* 首页 */
.index {
    margin: 0 auto;
    width: 100%;
    max-width: 10.8rem;
    padding: 0 0.2rem;

}

.index .nav .item {
    display: inline-block;
    transition: all .3s;
    padding-right: 0.2rem;
    padding-bottom: 0.2rem;
    /* height: 1.42rem; */
    width: 25%;
}

/* .index .nav .item:nth-of-type(3n+3){
    margin-right: 0px;
} */

.index .nav .item .pictrue {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.04rem;
}

.index .pictrue img {
    width: 100%;
    height: 100%;
    border-radius: 0.04rem;
}

.index .pictrue .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 0.18rem;
    color: #fff;
    text-align: center;
    line-height: 0.22rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.index .nav .item:hover .pictrue {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    top: -0.02rem;

}

.index .nav .item .info {
    font-size: 0.14rem;
    color: #545C63;
    letter-spacing: 0;
    line-height: 0.2rem;
    height: 0.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* 查经证道 */
.group-list .header {
    height: 2rem;
}

.group-list .list {
    width: 10.8rem;
    margin: 0 auto 1rem;
}

.group-list .list .item {
    width: 2.47rem;
    height: 2.6rem;
    margin-right: 0.3rem;
    float: left;
    position: relative;
    transition: .3s all linear;
    cursor: pointer;
}

.group-list .list .item:hover .title {
    color: rgba(232, 51, 35, 1);
}

.group-list .list .item:nth-of-type(4n+4) {
    margin-right: 0;
}

.group-list .pictrue img {
    width: 100%;
    height: 100%;
    border-radius: 0.08rem;
}

.group-list .title {
    margin-bottom: 0.1rem;
}





/* Header的头部布局 */
.church-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #22222e;
    z-index: 22;
    padding: 0 0.2rem;
}

.church-header .container {
    height: 0.6rem;
    width: 100%;
    max-width: 10.8rem;
    margin: 0 auto;
    position: relative;


}

.container .logo {
    display: inline-block;
    margin-top: 0.11rem;
    width: 0.27rem;
    height: 0.38rem;
}

.church-header .container .nav {
    margin-left: 0.2rem;
}

.church-header .container .item {
    position: relative;
    display: inline-block;
    font-size: 0.18rem;
    color: #fff;
    -webkit-transition: .2s color;
    transition: .2s color;
    padding: 0.03rem;
    margin: 0.16rem 0.3rem;
}

.church-header .container .item.on::before,
.church-header .container .item:hover::before {
    position: absolute;
    background: #8784c7;
    content: '';
    width: 0.3rem;
    height: 0.03rem;
    bottom: -6px;
    left: 50%;
    border-radius: 0.03rem;
    transform: translateX(-50%);
}

.el-autocomplete {
    float: right;
    top: 0.1rem;
    right: 0.2rem;
}

.el-autocomplete .el-input__inner {
    color: #fff;
    background: none;
    border-radius: inherit;
    height: 34px;
    line-height: 34px;
    margin-top: 4px;
}

.my-autocomplete li {
    line-height: normal;
    padding: 0.07rem;
}

.my-autocomplete .name {
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
}

.my-autocomplete .addr {
    font-size: 0.16rem;
    color: #b4b4b4;
}

.church-header .church-search {
    cursor: pointer;
}

.preach-wrap {
    position: fixed;
    width: 100vw;
    display: block;
    height: 100%;
}

.recom-aside {
    width: 300px;
    background: #ffffff;
    height: calc(100% - 65px);
    position: absolute;
    right: 0;
    bottom: 2px;
    overflow-y: auto;
}

.recom-aside .aside-item {
    position: relative;
    z-index: 10;
    display: block;
    /* width: 100%; */
    margin: 18px;
    font-size: 0.18rem;
}

.recom-aside .aside-item img {
    width: 50%;
}

.recom-aside .aside-item .title {
    display: inline-block;
    width: 50%;
    color: #000;
    padding: 0.05rem 0.05rem 0.2rem 0.1rem;
    vertical-align: top;
    font-size: 0.15rem;
}

#myAudioPlayer {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin-left: 120px;
    text-align: center;
    background: #fff;
    padding: 0.5rem 0.2rem 0;
}

.main {
    width: calc(100vw - 470px);
    height: calc(100vh - 180px);
    text-align: center;
}

.btn-wrap {
    display: inline-block;
    /* width: calc(100vw - 470px); */
    margin: 20px 120px;
}

.btn-wrap a {
    display: inline-block;
}

.btn-wrap .btnLink {
    background-color: #4441d8;
    border-color: #4441d8;
    color: #fff;
    width: 87px;
    line-height: 34px;
    border-radius: 2px;
    outline: none;
    display: inline-block;
    text-align: center;
}

.preach-content {
    display: inline-block;
}

/* 返回首页 */
.goto-index {
    background-color: #22222e;
    color: #fff;
    height: 0.6rem;
    line-height: 0.6rem;
    width: 100%;
    margin: 0 auto;
    font-size: 0.15rem;
    padding-left: 120px;
    margin-bottom: 0.2rem;
}
/* .goto-index .goto-contain{
    position: relative; 
    width: calc(100vw - 470px);
    text-align: center;
} */
/* .goto-index a {
    line-height: 0.6rem;
    font-size: 0.16rem;

} */

@media screen and (min-width: 769px) {
    .preach-content {
        width: 100%;
        height: 100%;
        margin-left: 120px;
    }
}




/* 媒体查询 */
@media screen and (max-width: 768px) {
    .app-container {
        position: relative;
        top: 1.05rem;
    }
    .app-container.app-notop{
        top: 0;
    }
    .goto-index{
        height: 0.3rem;
        line-height: 0.3rem;
        padding-left:0.1rem;
        margin: 0;
        font-size: 0.12rem;
    }
    .church-header .container {
        height: 1.05rem;
    }

    .el-autocomplete {
        position: absolute;
        width: calc(100% - 100px);
    }

    .church-header .container .item {
        margin: 0.16rem;
        padding: 0.01rem;
        font-size: 0.16rem;
    }

    .church-header .container .nav {
        position: absolute;
        top: 0.5rem;
        left: -0.4rem;
    }

    .pdt {
        /* padding-top: 1.05rem; */
        padding-top: 0;
    }

    .index {
        margin: 0.2rem auto;
    }

    .index .nav .item {
        width: 50%;
        padding-right: 0.1rem;
    }

    .index .nav .item:nth-of-type(2n+2) {
        padding-left: 0.1rem;
        padding-right: 0;
    }

    /* 直播 */
    .index-live {
        height: calc(100% - 1.25rem);
    }

    /* 播放详情页 */
    .main {
        width: 100%;
        height: 1.8rem;
        position: relative;
        z-index: 100;
    }

    #myAudioPlayer {
        width: 100%;
        background: #fff;
        height: 100%;
        margin: 0 auto;
        /* padding: 0.5rem 0.2rem 0; */
    }

    .preach-content {
        width: 100%;
        height: 100%;
    }

    .btn-wrap {
        display: block;
        margin: 0.06rem 0.2rem 0.04rem;
        text-align: right;
    }
    .btn-wrap .btnLink{
        line-height: 30px;
    }
    .recom-aside {
        /* background: pink; */
        /* height: calc(100% - 2.4rem); */
        height: calc(100% - 2.55rem);
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100% !important;
        padding: 0.2rem 0.2rem 0.3rem 0;
        overflow-y: auto;
    }

    /* 播放推荐 */
    .recom-aside .aside-item {
        display: inline-block;
        width: 100%;
        padding-left: 0.2rem;
        margin: 0 0 0.01rem 0;
    }

    .recom-aside .aside-item img {
        width: 40%;
    }

}